body {
	background-color: #062351;
	text-align: center;
}

h1{
	color: #FFFFFF;
	font-family: Raleway, sans-serif;
	font-size: 40px;
}

h2{
	color: #c3d6f4;
	font-family: Raleway, sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
}

p {
	font-family: "Raleway-Light", sans-serif;
	font-size: 20px;
	color: #c3d6f4;
}

a{
	color: #00ff00;
}

h3 {
	font-family: Raleway, sans-serif;
	font-size: 18px;
	color: #c3d6f4;
}